body {
    background-color: rgb(199, 198, 198);
}

/* CSS para Barra de Navegación e imagen de fondo */

nav {
    background: #7f08a3;
    height: 80px;
    width: 100%;
    position: fixed;
}

.enlace {
    position: absolute;
    padding: 20px 50px;
}

.logo {
    padding: 2px;
    height: 40px;
    background-color: rgb(199, 198, 198);
    border-radius: 4px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: rgb(199, 198, 198);
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 15px;
    text-transform: uppercase;
    text-decoration-line: none;
    font-family: "Euclid Circular",verdana,arial,sans-serif;
    font-weight: bold;
}


li a:hover {
    background: #c840f1;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: rgb(199, 198, 198);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

h2 {
    font-family: "Euclid Circular",verdana,arial,sans-serif;
    color: rgb(199, 198, 198);
}


@media (min-width: 858px){

    h2#proyectos {
        font-size: 40px;
        background-color: #7f08a3;
        padding: 20px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
    }

    section#inicio {
        background: url(/Recursos/Imágenes/Imagen_Fondo_Header_PC.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
        height: calc(100vh - 80px);
    }

    .enlace {
        padding-left: 20px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    section#inicio {
        background: url(/Recursos/Imágenes/Imagen_Fondo_Header_Movil.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
        height: calc(100vh - 80px);
    }
    
    h2#proyectos {
        font-size: 15px;
        background-color: #7f08a3;
        padding: 20px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
    }

    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #32044d;
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    li a.active{
        background: none;
        color: rgb(0, 38, 255);
    }

    #check:checked ~ ul {
        left: 0;
    }
    
}

/* Fin de CSS para Barra de Navegación e imagen de fondo */

/* Inicio Carrusel */

body main section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.container-all {
    position: relative;
    max-height: 100%;
    max-width: 1000px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}

.slide {
    display: flex;
    transform: translate3d(0,0,0);
    transition: all 600ms;
}

.item-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
    text-align: center;
}

.slide-text {
    position: absolute;
    top: 20%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.pagination {
    position: absolute;
    bottom: 20px;
    left: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.pagination-item:hover {
    transform: scale(2);
}

.pagination-item img {
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.pagination-item:hover img {
    opacity: 1;
    transform: scale(1);
}

input[id="1"]:checked ~ .slide {
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"] {
    background: #fff;
}

input[id="2"]:checked ~ .slide {
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"] {
    background: #fff;
}

input[id="3"]:checked ~ .slide {
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"] {
    background: #fff;
}

/* Fin Carrusel */